<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="targetLogs">
            <h2><span jhiTranslate="targettracerApp.targetLogs.detail.title">Target Logs</span> {{targetLogs.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="targettracerApp.targetLogs.day">Day</span></dt>
                <dd>
                    <span>{{targetLogs.day}}</span>
                </dd>
                <dt><span jhiTranslate="targettracerApp.targetLogs.isSuccess">Is Success</span></dt>
                <dd>
                    <span>{{targetLogs.isSuccess}}</span>
                </dd>
                <dt><span jhiTranslate="targettracerApp.targetLogs.target">Target</span></dt>
                <dd>
                    <div *ngIf="targetLogs.targetId">
                        <a [routerLink]="['/target-tt', targetLogs.targetId, 'view']">{{targetLogs.targetId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/target-logs-tt', targetLogs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
